# template settings file

# server settings
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# currency rates settings
APILAYER_EXCHANGE_RATES_API_KEY=

# redis settings
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=
REDIS_PASSWORD=
REDIS_USE_SSL=false
